<div>
    <h1>Current Temperate for my location</h1>
    <P>convert the image into html all data should be dynamic</P>
    <img src="/public/sample-gui.png" />
    <p>Temperature: {{viewModel.temperature}} C</p>
    <p>Summary: {{viewModel.summary}}</p>
    <p>Precipitation: {{viewModel.precipitation}}%</p>
    <p>Humidity: {{viewModel.humidity}}%</p>
    <p>Wind Speed: {{viewModel.windSpeed}} km/h</p>

    <div class="weather">
        <div class="left-side">
            <div class="location">Melbourne, VIC 3004</div>
            <div class="time">Wednesday 12:00 pm</div>
            <div class="summary">{{viewModel.summary}}</div>
            <div class="temp-icon-container">
                <div class="icon"><img src="/public/icons/{{viewModel.icon}}.png" width="50px"/></div>
                <div class="temp-container">
                    <div class="temp">{{viewModel.temperature}}</div>
                    <div class="temp-unit"> °C</div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="precipitation">Precipitation: {{viewModel.precipitation}}%</div>
            <div class="humidity">Humidity: {{viewModel.humidity}}%</div>
            <div class="wind-speed">Wind Speed: {{viewModel.windSpeed}} km/h</div>
        </div>
    </div>
</div>