<div>
    <h1>Current Temperate for my location</h1>
    <P>convert the image into html all data should be dynamic</P>
    <img src="/public/sample-gui.png" />
    <p>Temperature: {{viewModel.temperature}} C</p>
    <p>Summary: {{viewModel.summary}}</p>
    <p>Precipitation: {{viewModel.precipitation}}%</p>
    <p>Humidity: {{viewModel.humidity}}%</p>
    <p>Wind Speed: {{viewModel.windSpeed}} km/h</p>
</div>